<form method='POST' action='/articles'>
  <p>Title: <input type='text' name='article[title]' id="title"></p>
  <p>Content: <input type='text' name='article[content]' id="content"></p>
  <p><input type='submit' id='submit'></p>
</form>